-
  var users = [
    {
      id: 40,
      name: 'gerald ramos',
      position: 'student',
      gender: 'men'
    }, {
      id: 60,
      name: 'jimi hamalainen',
      position: 'student',
      gender: 'men'
    }, {
      id: 59,
      name: 'verônica barbosa',
      position: 'professor',
      gender: 'women'
    }, {
      id: 71,
      name: 'afşar kuzucu',
      position: 'student',
      gender: 'women'
    }, {
      id: 79,
      name: 'sonja rau',
      position: 'student',
      gender: 'women'
    }, {
      id: 76,
      name: 'inaya muller',
      position: 'student',
      gender: 'women'
    }, {
      id: 95,
      name: 'vincent chen',
      position: 'student',
      gender: 'men'
    }, {
      id: 66,
      name: 'sander pedersen',
      position: 'student',
      gender: 'men'
    }, {
      id: 6,
      name: 'addison campbell',
      position: 'student',
      gender: 'women'
    }, {
      id: 84,
      name: 'ronja meißner',
      position: 'student',
      gender: 'women'
    }, {
      id: 32,
      name: 'benjamin addy',
      position: 'student',
      gender: 'men'
    }, {
      id: 51,
      name: 'bradley spencer',
      position: 'student',
      gender: 'men'
    }, {
      id: 39,
      name: 'kenan abacı',
      position: 'student',
      gender: 'men'
    }, {
      id: 38,
      name: 'veeti rintala',
      position: 'student',
      gender: 'men'
    }, {
      id: 52,
      name: 'väinö korpi',
      position: 'student',
      gender: 'men'
    }
  ]
